

@font-face
{
    font-family: 'Georgia';
    src: local('Georgia'),url('Georgia.ttf') format('opentype');
}

body,td
{
    font-family: 'Georgia';
    font-size: 17px;
    font-weight: normal;
    line-height: 140%;
}

a,href
{
    color: #20537c;
    text-decoration: none;
    
}

h1
{
    /*font-family: 'Roboto-Medium';*/
    font-size: 24px;
    font-weight: 800px;
}

h2
{
    font-size: 100%;
    font-weight: 800px;
}

h3
{
    font-size: 18px;
    font-weight: 800px;
}

span,p,br
{
    /*font-size: 50px;*/
    font-weight: normal;
}

*[summary], *[tm-type="summary"], .tm-summary {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    font-weight: normal !important;
}

*[summary] b, *[summary] strong, *[tm-type="summary"] b, *[tm-type="summary"] strong, .tm-summary b, .tm-summary strong{
    font-weight: normal !important;
}

b,strong
{
    /*font-family: 'Roboto-Medium';*/
    font-size: 100%;
    font-weight: 700;
}

em, i, [tm-type="caption"], .tm-caption
{
    /*font-family: 'Roboto-Italic';*/
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
}

*[tm-type="strong"] {
    font-weight: bold !important;
}

.modal *[tm-type='paragraph'], .modal .tm-paragraph {
    margin-top: 15px;
}

[tm-type="title"]{
    /*font-family: 'Roboto-Bold';*/
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 110%;
}

#source{
    /*font-family: 'Roboto-Bold';*/
    font-size: 16px;
    font-weight: bold;
    color : #B33D3D;
    display: inline-block;
}

#timestamp{
    /*font-family: 'Roboto-Light';*/
    font-size: 14px;
    font-weight: normal;
    padding-left : 20px;
    display: inline-block;
}

.inline-container{
    margin: 20 auto 20 auto;
    text-align: center;
}

table
{
    width: 100%;
}

img
{
    display: block;
    width: 100%;
    height: auto;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
}


nav li a {
    border-radius: 0px 0 0 0 !important;
    text-decoration: none !important;
    font-size: 15px;
    padding-bottom: 0px;
}
/*
    Styling for library.html
 */

#content{
    padding: 20 20 20 20;
    font-size : 45px;
    font-family: "Georgia";
    background-color : #bfbfbf;
)

#main div{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
/**/
/*@keyframes fadein {*/
/*    from { opacity: 0; }*/
/*    to   { opacity: 1; }*/
/*}*/
/**/
/*/* Firefox < 16 */*/
/*@-moz-keyframes fadein {*/
/*    from { opacity: 0; }*/
/*    to   { opacity: 1; }*/
/*}*/
/**/
/*/* Safari, Chrome and Opera > 12.1 */*/
/*@-webkit-keyframes fadein {*/
/*    from { opacity: 0; }*/
/*    to   { opacity: 1; }*/
/*}*/
/**/
/*/* Internet Explorer */*/
/*@-ms-keyframes fadein {*/
/*    from { opacity: 0; }*/
/*    to   { opacity: 1; }*/
/*}*/
/**/
/*/* Opera < 12.1 */*/
/*@-o-keyframes fadein {*/
/*    from { opacity: 0; }*/
/*    to   { opacity: 1; }*/
/*}*/

